.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    /* position: fixed;
    bottom: 0;
    width: 100%; */
  }
  
.content-section{
  min-height:830px;
}
